# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log

# Environments
.venv/
venv/
env/

# SQLite database
# rfq.db - commented out for deployment branch

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Flask instance
instance/


